<main>
  <div id="container-text">
    <h1>&lt;Iagoo Mauricioo<br>Desenvolvedor de <br>Software /&gt;</h1>
    <p>
      E aí, beleza? Me chamo <strong>Iago</strong> e sou um desenvolvedor de software há <br>aproximadamente 2 anos. Tenho vasta experiência na criação <br>de sistemas e atualmente trabalho da Diretoria de T.I. de Maceió como <br>Desenvolvedor Fullstack utilizando <strong>Java</strong> e <strong>Angular</strong> como principais <br>tecnologias.
    </p>
    <a href="assets/files/cv.pdf" download="IagoMauricioCV.pdf">
      <app-cvbutton></app-cvbutton>
    </a>
    <div id="social-icons">
      <a href="https://github.com/iagomauricioo" target="_blank">
          <i class="pi pi-github social-icon"></i>
      </a>
      <a href="https://www.instagram.com/iagomauricioo" target="_blank">
          <i class="pi pi-instagram social-icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/iagomauricioo" target="_blank">
          <i class="pi pi-linkedin social-icon"></i>
      </a>
  </div>
  </div>
  <div id="container-image">
    <img id="photo" src="assets/images/photo.png" alt="iago">
    <img id="elipse" src="assets/images/elipse.png" alt="elipse">
  </div>
</main>
<router-outlet />
